{% extends "base.html" %}
{% set active_page = "plugins" %}
{% block title %}Plugins{% endblock %}
{% block styles %}{{ super() }}{% endblock %}
{% block script %}{% endblock %}
{% block content %}
<div id="container">
  {% for name in database.keys() | sort %} {% set has_info = name in loaded and
  loaded[name].__description__ is defined %}
  <div class="plugins-box">
    <div class="tooltip">
      <h4
        style="margin: 0; margin-bottom: 0.5rem; font-family: var(--font-pixel)"
      >
        {% if name in loaded and loaded[name].on_webhook is defined %}
        <a href="/plugins/{{ name | urlencode }}">{{ name }}</a>
        {% else %}{{ name }}{% endif %}
      </h4>
      {% if has_info %}
      <span class="tooltiptext">{{ loaded[name].__description__ }}</span>
      {% else %}
      <span class="tooltiptext">Description unable to load yet.</span>
      {% endif %}
    </div>
    <div
      style="
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      "
    >
      <form
        method="POST"
        action="/plugins/toggle"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
        "
      >
        <label class="switch">
          <input
            type="checkbox"
            name="enabled"
            id="flip-checkbox-{{name}}"
            {%
            if
            name
            in
            loaded
            %}
            checked
            {%
            endif
            %}
          />
          <span class="slider"></span>
        </label>
        <span>{{ "Enabled" if name in loaded else "Disabled" }}</span>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="plugin" value="{{ name }}" />
      </form>
      <form method="POST" action="/plugins/upgrade">
        <button
          type="submit"
          name="upgrade"
          class="btn btn-primary"
          style="width: 100%"
        >
          Upgrade
        </button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="plugin" value="{{ name }}" />
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
{% block scripts %}{{ super() }}<script src="/js/plugins.js"></script>{% endblock %}
